@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
  color: #444;
}

p {
  margin: 0.75rem 0;
}

/* Utilitiy Classes */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #ffcf40;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #ffcf40;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.s-heading {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.my-2 {
  margin: 2rem 0;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #ffcf40;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5 px;
}

.btn:hover {
  /* darker color */
  background: #2f4f4f;
  color: #fff;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  color: #333;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #333;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover {
  background: #ffcf40;
  border-radius: 5px;
  color: #fff;
}

/* Showcase */
#showcase {
  background: #333 url("../img/quran.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #ffcf40;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* overlay */
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: news */

#news {
  height: 65vh;
}

#home .items {
  display: flex;
  padding: 0rem;
}

#home .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#home .items .item i {
  background: #ffcf40;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#news ul {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  text-align: left;
}

.schedule {
  color: #ffcf40;
  font-size: 1.5rem;
  font-weight: bold;
}

.schedule:hover {
  color: blue;
}

/* Section: About */
#about {
  display: flex;
}

#about div {
  flex: 1;
}

#about .about-img {
  background: url("../img/prayer.jpg") no-repeat center center/cover;
}

.paypal {
  margin-right: 0 !important;
  margin-left: 4.5rem !important;
  margin-top: 2rem;
}

/* info */
#info {
  display: flex;
  padding: 0rem;
  margin: 0;
  height: 50vh;
}

#info img {
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0rem;
}

.link:hover {
  color: blue;
}

.amazon {
  color: blue;
}

.quote {
  font-size: 1rem;
  line-height: 1.4rem;
}
/* Section: Contact */
#contact {
  display: flex;
}

#contact .img {
  background: url("../img/women_prayer.jpg") no-repeat center center/cover;
}

#contact .img,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
.submit {
  display: inline-block;
  color: #fff;
  background: #333;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5 px;
  cursor: pointer;
}

.submit:hover {
  background: #fff;
  color: #333;
}
.center {
  align-items: center;
}

i {
  text-align: center !important;
}

/* Carousel */
/* Slideshow container */
.slideshow-container {
  display: flex;
  flex: 1;
  /* max-width: 40%; */
  position: relative;
  margin: auto;
  height: 60vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
/* #donate {
  height: 40vh;
} */
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
