/* Align Icons to Left */
#home .items .item {
    display: flex;
    text-align: center;
}

#home .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

#contact .img {
    flex: 2;
}

#menu .items .item {
    display: block;
}

#menu .items .item a {
    align-self: center;
}

